main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 85%;
  width: 100%;
}

main h1 {
  font-size: 25px;
  color: black;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  border-color: black;
  border: 2px solid;
  cursor: pointer;
  transition: all, ease-in-out, 0.2s;
  width: 40vw;
  text-align: center;
}

main h1:hover {
  background-color: black;
  color: #fff;
}

main h1:active {
  opacity: 50%;
}
